@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: #FE2555;
}

.row {
    justify-content: center;
    margin: 25px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    text-align: center;
    font-size: 0.8em;
    overflow: hidden;
    border-radius: 1.5em;
    justify-self: center;
    width: 86.5px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.50);
}

a.btn,
.btn-price p {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
.blue {
    background-color: #5392b9;
}
.grey {
    background-color: #403a44;
}
.gold {
    background-color: #e9995c;
}
.disable{
    background-color: #a2a2a2!important;
}
.disable img{
    opacity: 0.2;
    filter: invert();
}

.active .btn-name {
    color: white;
    margin: 10px 5px 5px;
}
.btn-name {
    color: #808080;
    margin: 10px 5px 5px;
}
.active .btn-price {
    background-color: #eecad1;
}
.btn-price {
    background-color: #b3b3b3;
}
.active .btn-price p {
    color: #403a44;
}
.btn-price p {
    margin-top: 5px;
    font-size: 1.6em;
    color: #808080;
    padding: 4px 2px;
}
.btn img {
    width: 70%;
}
.money-icon{
    content: url("../svg/btn/money_btn.svg");
    padding-left: 12px;
    width: 1em;
    opacity: 0.4;
}
.active .money-icon {
    content: url("../svg/btn/money_btn.svg");
    padding-left: 12px;
    width: 1em;
    opacity: 1;
}