@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: #FE2555;
}

main {
    max-width: 700px;
}

picture {
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #403a44;
    color: white;
}

#scoredisplay {
    width : 90%;
    margin-right: 5%;
    margin-left : 5%;
    text-align: center;
}

.fa-code {
    align-content: center;
    color : white;
    font-size: 300%;
}

#points-score {
    font-size: 50px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    color: white;
    line-height: 90%;
    min-height: 150px;
}

#nowrap {
    white-space: nowrap;
}

 .active-multiplier {
    font-family: 'Alegreya Sans SC', sans-serif;
    color :  white;
    font-size : 25px;
    width: inherit;
    background-color: #403A44;
    padding : 10px 10px;
    border-radius: 50%;
    margin-left: -17px;
} 

.animation-score {
    width : 50px;
    height: auto;
    margin-left : -10px;
    vertical-align: -50%;
    filter: drop-shadow(0px 2px 0px #414141);
    animation-duration: 1s;
    animation-name: heartbeat;
    animation-iteration-count: infinite;
    transform-origin: center;
    display: none;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
}

/* .clicker {
    display:block;
    padding-left: 50px;
    padding-right: 50px; 
    width: 250px;
} */

/*.clicker{
    display:flex;
    justify-content: center;
    flex-direction:row;
}*/

.clickercontainer img{
    position: relative;
    transition: all .1s ease-in-out; 
    place-self: center center ;
    max-height: 340px;
    width: 70%;
}

.clickercontainer img:hover{ 
    transform: scale(1.02);
}

.clickercontainer img:active{ 
    transform: scale(0.98);
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 25px 20px;
}

.btn {
    grid-auto-columns: min-content;
    width: 86.5px;
    text-align: center;
    font-size: 0.8em;
    overflow: hidden;
    border-radius: 1.5em;
    justify-self: center;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.50);
    transition: all .1s ease-in-out; 
}
 
.btn:active {
    filter: grayscale(0.2) brightness(1.2);
    transform: scale(0.95);
}


.btn,
.btn-price p {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.blue {
    background-color: #5392b9;
}

.grey {
    background-color: #403a44;
}

.gold {
    background-color: #e9995c;
}

.disable {
    background-color: #a2a2a2 !important;
}

.disable img {
    opacity: 0.2;
    filter: invert();
}

.active .btn-name {
    color: white;
    margin: 10px 5px 5px;
}

.btn-name {
    color: #808080;
    margin: 10px 5px 5px;
}

.active .btn-price {
    background-color: #eecad1;
}

.btn-price {
    background-color: #b3b3b3;
}

.active .btn-price p {
    color: #403a44;
}

.btn-price p {
    margin-top: 5px;
    font-size: 1.6em;
    color: #808080;
    padding: 4px 2px;
}

.btn img {
    justify-self: center;
    width: 70%;
}

.money-icon {
    content: url("svg/btn/money_btn.svg");
    padding-left: 12px;
    width: 1em;
    opacity: 0.4;
}

.active .money-icon {
    content: url("svg/btn/money_btn.svg");
    padding-left: 12px;
    width: 1em;
    opacity: 1;
}

@media screen and (min-width: 640px) {
    .btn {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        width: auto;
    }
    .btn-name {
        justify-self: left;
        padding-left: 15px;
    }
    .btn img{
        align-self: center;
        height: 80%;
    }
    .row {
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: 1fr;
        row-gap: 25px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
    

}

