body {
    background-color: #FE2555;
}

#score {
    width : 90%;
    margin-right: 5%;
    margin-left : 5%;
    text-align: center;
}

.fa-code {
    align-content: center;
    color : white;
    font-size: 300%;
}

#points-score {
    font-size: 50px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    color: white;
    line-height: 90%;
}

#nowrap {
    white-space: nowrap;
}

.active-multiplier {
    font-family: 'Alegreya Sans SC', sans-serif;
    color :  white;
    font-size : 25px;
    width: inherit;
    background-color: #403A44;
    padding : 20px 20px;
    border-radius: 50%;   
    margin-left: -17px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.clicker {
    display:block;
    padding-left: 50px;
    padding-right: 50px;
    width: 250px;
}


.clicker{
    display:flex;
    
    justify-content: center;
    flex-direction:row;
}
.clickercontainer img{
    position: relative;
    transition: all .1s ease-in-out; 
}

.clickercontainer img:hover{ 
    transform: scale(1.02);
}

.clickercontainer img:active{ 
    transform: scale(0.98);
    
}